img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 300px;
    height: 500px;
    object-fit: contain;
    border-bottom: 8px;
    padding-bottom: 40PX;;
}

img:hover {
    padding-bottom: 10px;
    background: #f0f0f0;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    animation: pulse 1s infinite;
    text-transform: uppercase;
}


@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 #007bff88;
    }
    70% {
        transform: scale(1.05);
        box-shadow: 0 0 10px 10px #007bff44;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 #007bff88;
    }
}


@media (max-width: 600px) {
    img {
        width: 100%;
        max-width: 400px;
        height: 600px;
        object-fit: contain;
    }
}